@keyframes openTopRightBracket {
  from {
    transform: translate3d(-23%, -9%, 0);
  }
  to {
    transform: translate3d(480%, -300%, 0);
  }
}
@keyframes openBottomLeftBracket {
  from {
    transform: translate3d(-77%, -7%, 0);
  }
  to {
    transform: translate3d(-580%, 200%, 0);
  }
}
@keyframes closeTopRightBracket {
  from {
    transform: translate3d(350%, -250%, 0);
  }
  to {
    transform: translate3d(-30%, -50%, 0) scale(0.8);
  }
}
@keyframes closeBottomLeftBracket {
  from {
    transform: translate3d(-450%, 150%, 0);
  }
  to {
    transform: translate3d(-70%, -50%, 0) scale(0.8);
  }
}
@keyframes fadeInGrow {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInPartial {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes floatIn {
  from {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes cloud1 {
  from {
    transform: translate3d(-30%, 2%, 0);
  }
  to {
    transform: translate3d(30%, -2%, 0);
  }
}
@keyframes cloud2 {
  from {
    transform: translate3d(18%, 4%, 0);
  }
  to {
    transform: translate3d(-18%, 4%, 0);
  }
}
@keyframes cloud3 {
  from {
    transform: translate3d(10%, -1%, 0);
  }
  to {
    transform: translate3d(-10%, 1%, 0);
  }
}
