:root {
  --m-01: #c5c9e6;
  --m-02: #b6e3eb;
  --m-03: #d3e7ba;
  --m-04: #fbcbbd;
  --m-05: #f8bbcf;
  --neu-01: #ffffff;
  --neu-02: #eef2fd;
  --neu-03: #ced3e1;
  --neu-04: #9fa5b8;
  --neu-05: #7a8197;
  --neu-06: #565f77;
  --add-01: #f37167;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
main > section {
  overflow-x: hidden;
  padding: 48px 28px;
  height: 100%;
  width: 100%;

  text-align: center;
}
